
/*Resetting Styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/



body {
$backgroundPage: #dfe8eb;
$section: #f2f2f2;
$primary-text: #042f40;
$secondary-text: #324e59;
$button-background: #181818;
$button-text-color: blue;

	.wrapper {
		background-color: $backgroundPage;
		color: $secondary-text;
		text-align: center;
		height: 500px;
		border-radius: 1em;
		padding: 0.5em 2em;
		max-width: 70%;
		margin: 0 auto;
	}
	
	.wrapper h2 {
		color: $primary-text;
	}
	
	.dark-mode {
		background-color: transparent;
		border: $backgroundPage;
		color: $secondary-text;
		padding: 0.3em 0.6em;
		border-radius: 0.4em;
		font-weight: 700;
		font-size: 2em;
	}

	body.dark {
		$backgroundPage: #121212;
		$section: #181818;
		$primary-text: white;
		$secondary-text: #b3b3b3;
		$button-background: #324e59;
		$button-text-color: yellow;
	}
}

// body { 
// 	$backgroundPage: #dfe8eb;
// 	$section: #f2f2f2;
// 	$primary-text: #042f40;
// 	$secondary-text: #324e59;
// 	$button-background: #181818;
// 	$button-text-color: blue;
// }

// body.dark {
// 	$backgroundPage: #121212;
// 	$section: #181818;
// 	$primary-text: white;
// 	$secondary-text: #b3b3b3;
// 	$button-background: #324e59;
// 	$button-text-color: yellow;
// }


 

